@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

body {
    background: url(../imagens/fundo-madeira.jpg)no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 667px;
    width: 375px;
    
   
    background: url(../imagens/frame-iphone.png)no-repeat;
}

main {
    position: relative;
    height: 100vh;
}



iframe#tela {
    position: relative;
    top: 80px;
    left: 18px;
    width: 269px;
    height: 507px;
}



section#redes-sociais {
   width: 0px;
   height: 0px;
}
  

section#redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #002;
    box-sizing: border-box;
    background-position: center;
}

section#redes-sociais img:hover {
    border: 2px solid #fff;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px #002;
    transition: 0.44ms;
}